.main {
    max-height: 100dvh;
    overflow: hidden;
    margin: 8dvh 10dvw;

    display: flex;
    flex-direction: column;
    gap: 26px;
    align-items: start;
}

.description {
    margin: 0;
}

.response-container {
    height: 68dvh;
    overflow: hidden auto;
}
.responses {
    display: flex;
    flex-wrap: wrap;
    gap: 4dvw;
    row-gap: 4dvh;
    justify-content: center;
}

.responses div {
    opacity: 0.96;
    border: 1px solid;

    padding: 4px 30px 10px;
    max-width: 320px;
    min-width: 240px;
    height: fit-content;

    flex: 2 1 0;
}
.responses div:hover {
    opacity: 1;
}

.responses div:nth-child(odd):hover {
    transform: rotate(1deg);
}
.responses div:nth-child(even):hover {
    transform: rotate(-1deg);
}

.responses div h2 {
    margin-bottom: 6px;
    padding: 0;
}
.responses div h4 {
    font-style: italic;
    margin: 0;
    padding: 0;
}