.columns {
    margin: 8dvh 10vw;
    display: flex;
    justify-content: space-between;
    height: 84dvh;
}

#col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}