.columns {
    margin: 8dvh 10vw;
    display: flex;
    justify-content: space-between;
    height: 84dvh;
}

#col1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-button {
    padding: 12px 14px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 14px;
    border: 1px solid black;
}
.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
a button {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}