#main {
    margin: 8dvh 10vw;
}

.color {
    font-size: 30px;
    letter-spacing: 0.05rem;
    line-height: 34px;
}

.response {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 30px;
    margin: 30px 0;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
}

#name-input {
    max-width: 40%;
    min-width: 40vw;
}

#submit-button {
    align-self: center;
}

mat-spinner {
    align-self: center;
}

#success-message {
    color: black;
}
#already-responded-message {
    color: black;
}

.hidden {
    display: none;
}

a {
    font-weight: bold;
}