#main {
    margin: 60px 80px;
}

.color {
    font-size: 30px;
    margin: 0 8px;
    letter-spacing: 0.05rem;
}

.response {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px;
    margin: 30px 0;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
}

#name-input {
    max-width: 40%;
    min-width: 250px;
}

#submit-button {
    align-self: center;
}

mat-spinner {
    align-self: center;
}

.hidden {
    display: none;
}

a {
    font-weight: bold;
}