/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
* {
    font-family: "Inconsolata", monospace;
}

.bottom a {
    color: inherit;
    border-color: inherit;
}
.bottom a button {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;

    padding: 12px 14px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 12px;
    border: 1px solid;

    color: inherit;
    border-color: inherit;
}
.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.white {
    color: white;
    border-color: white;
}
.black {
    color: black;
    border-color: black;
}